.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.menu .opciones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu img {
  width: 100%;
  border-radius: 5px;
}

.activo {
  font-weight: bold;
}